@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: minmax(1fr, 300px);
  gap: 0 15px;
  align-items: center;
  margin: 2em 0;
}
nav ul {
  font-weight: 300;
  list-style: none;
}
nav ul a {
  width: 100%;
  color: black;
  text-decoration: none;
  padding: 10px 10px;
}
nav ul li {
  display: inline-block;
}
@media screen and (max-width: 769px) {
  nav ul {
    display: none;
    width: 900px;
  }
}
nav img {
  height: auto;
  width: 100%;
}
nav .company-brand {
  grid-column: 1/2;
}
nav .hamburger {
  margin-left: 30%;
}
@media screen and (min-width: 769px) {
  nav .hamburger {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  nav {
    grid: 124px/minmax(270px, 1fr) minmax(480px, 5fr);
    margin: 0 2em;
    justify-items: end;
  }
}

.title-sec {
  font-size: 26px;
  width: max-content;
  margin: 20px auto !important;
  font-weight: 700;
}

footer {
  position: relative;
  text-align: center;
  margin-top: 5em;
  height: 375px;
  background: -moz-linear-gradient(to left, #1b252f, #1e2a36);
  display: grid;
}
@media screen and (min-width: 1025px) {
  footer {
    clip-path: polygon(10% 8%, 90% 8%, 90% 20%, 100% 13%, 100% 100%, 0 100%, 0 13%, 10% 20%);
  }
}
footer .footer-sub {
  background-image: url(https://cdn.pixabay.com/photo/2019/10/03/19/57/japan-4524260_960_720.jpg);
  background-size: cover;
  background-position: center center;
  height: 244px;
  padding: 1em 1em;
  display: grid;
  grid: repeat(4, 1fr)/1fr;
  border-radius: 10px;
}
@media screen and (min-width: 1025px) {
  footer .footer-sub {
    position: absolute;
    width: 80%;
    bottom: 27%;
    left: 10%;
    grid: repeat(3, 81.3px)/3fr 1fr;
    align-items: center;
    column-gap: 15px;
  }
}
footer .footer-sub p {
  background: none !important;
  color: white;
}
footer .footer-sub .p-first {
  font-weight: 700;
  font-size: 26px;
}
@media screen and (min-width: 1025px) {
  footer .footer-sub .p-first {
    grid-column: span 2;
    grid-row: 1/2;
  }
}
footer .footer-sub .p-second {
  color: #fff9;
}
@media screen and (min-width: 1025px) {
  footer .footer-sub .p-second {
    grid-row: 3/4;
    grid-column: span 2;
  }
}
footer .footer-sub input {
  width: 100%;
  height: 47px;
}
footer .footer-sub button {
  display: inline !important;
  height: 47px;
  width: 100%;
}
footer .footer-last {
  margin: 0 auto;
  width: 70%;
  display: grid;
  grid: 1fr/4fr 3fr repeat(3, 1fr);
  background: none !important;
  color: white;
}
footer .footer-last i {
  color: white;
  background: none;
}
footer .footer-last i:hover {
  color: yellow;
}
footer .footer-last p {
  background: none !important;
  grid-column: 1/2;
}
footer .footer-last .fb-icon {
  grid-column: 3/4;
}
footer .footer-last .insta-icon {
  grid-column: 4/5;
}
footer .footer-last .twi-icon {
  grid-column: 5/6;
}
@media screen and (min-width: 1025px) {
  footer .footer-last {
    position: absolute;
    bottom: 3%;
    left: 10%;
  }
}

.jumbotron {
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;
  background-image: url(https://cdn.pixabay.com/photo/2016/08/29/08/55/work-1627703_960_720.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 441px;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 50% 100%, 0 90%);
}
.jumbotron .hero-text {
  font-weight: 900;
  font-size: 65px;
  letter-spacing: 2.7px;
  background: none;
  color: white;
}
@media screen and (min-width: 769px) {
  .jumbotron {
    height: 730px;
  }
}

.about-me {
  margin: 3em 0 5em 0;
  text-align: center;
  font-size: 26px;
  font-weight: 300;
}

#mySlider {
  width: 100%;
}
#mySlider ol {
  background: none;
}

/*# sourceMappingURL=styles.css.map */
