@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

// applies to everything
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}

// custom link
.page-link{
    width: 200px;
    background-color: rgba(228, 87, 87, 1) !important;
    border: none !important;
    color: white;
    transition: 0.4s;
    display: inline-block;
    i{
        background: none;
        color: white;
    }
}
.page-link:hover{
    background-color: rgba(228, 87, 87, 0.7) !important;
    border-color: rgba(228, 87, 87, 0.7) !important;
    color: white;
    i{
        background: none;
        color: white;
    }
}

.inline_bold{
    font-weight: 700;
}
nav{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: minmax(1fr ,300px);
    gap: 0 15px;
    align-items: center;
    margin: 2em 0;
    
    
    ul{
        font-weight: 300;
        list-style: none;
        li{
            display: inline-block;
        }

        a{
            width: 100%;
            color: black;
            padding: 10px 10px;
            transition: 0.3s;
        }
        i{
            transition: 0.3s;
        }
        .nav-link:hover{
            background: black;
            color: white;
            i{
                color: white;
                background: black;
            }
        }
        ._icon:hover{
            color: rgba(0, 0, 0, 0.4);
        }

        @media screen and (max-width: 769px){
            display: none;
            width: 900px;
        }

        
    }

    img{
        height: auto;
        width: 100%;
    }

    .company-brand{
        grid-column: 1 / 2;
    }

    .hamburger{
        margin-left: 30%;
         // tablet
        @media screen and (min-width: 769px){
            display: none;
        }
    }



    // tablet
    @media screen and (min-width: 769px){
        grid: 124px / minmax(270px, 1fr) minmax(480px, 5fr);
        margin: 0 2em;
        justify-items: end;
        column-gap: 30px;
    }
}

.title-sec{
    font-size: 26px;
    width: max-content;
    margin: 20px auto !important;
    font-weight: 700;
}

footer{
    position: relative;
    text-align: center;
    margin-top: 5em;
    height: 375px;
    background: -moz-linear-gradient(to left, #1b252f, #1e2a36);
    display: grid;  

    @media screen and (min-width: 1025px){
        clip-path: polygon(10% 8%, 90% 8%, 90% 20%, 100% 13%, 100% 100%, 0 100%, 0 13%, 10% 20%);
    }
    
    .footer-sub{
        background-image: url(https://cdn.pixabay.com/photo/2019/10/03/19/57/japan-4524260_960_720.jpg);
        background-size: cover;
        background-position: center center;
        height: 244px;
        padding: 1em 1em;
        display: grid;
        grid: repeat(4, 1fr)/ 1fr;
        border-radius: 10px;

        @media screen and (min-width: 1025px){
            position: absolute;
            width: 80%;
            bottom: 27%;
            left: 10%;
            grid: repeat(3, 81.3px) / 3fr 1fr;
            align-items: center;
            column-gap: 15px;
        }


        p{
            background: none !important;
            color: white;
        }

        .p-first{
            font-weight: 700;
            font-size: 26px;
            @media screen and (min-width: 1025px){
                grid-column: span 2;
                grid-row: 1 / 2;
            }
        }

        .p-second{
            color: #fff9;
            @media screen and (min-width: 1025px){
                grid-row: 3 / 4;
                grid-column: span 2;
            }
        }

        input{
            width: 100%;
            height: 47px;
            @media screen and (min-width: 1025px){
                grid-row: 2 / 3;
                grid-column: 1 / 2;
            }
        }
        .page-link{
            display: inline !important;
            height: 47px;
            width: 100%;
            @media screen and (min-width: 1025px){
                grid-row: 2 / 3;
                grid-column: 2 / 3;
            }
            
        }
    
    }

    .footer-last{
        margin: 0 auto;
        width: 70%;
        display: grid;
        grid: 1fr / 4fr 3fr repeat(4, 1fr); 
        column-gap: 1em;
        background: none !important;
        color: white;
        i{
            color: white;
            background: none;
        }
        i:hover{
            color: yellow;
        }

        p{
            background: none !important;
            grid-column: 1 / 2;
        }

        .fb-icon{
            grid-column: 3 / 4;
        }

        .insta-icon{
            grid-column: 4 / 5;
        }

        .twi-icon{
            grid-column: 5 / 6;
        }

        .lin-icon{
            grid-column: 6 / 7;
        }


        @media screen and (min-width: 1025px){
           position: absolute;
           bottom: 3%;
           left: 10%;
        }
    }
    
}


.jumbotron{
    position: relative;
    display: grid;
    align-content: center;
    justify-content: center;
    background-image: url(https://cdn.pixabay.com/photo/2016/08/29/08/55/work-1627703_960_720.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 441px;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 50% 100%, 0 90%);
    .hero-text{
        font-weight: 900;
        font-size: 65px;
        letter-spacing: 2.7px;
        
        background: none;
        color: white;
        @media screen and (max-width: 769px){
            font-size: 40px;      
        }
    }
    @media screen and (min-width: 769px){
        height: 730px;        
    }
}


.about-me{
    margin: 3em 0 5em 0;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
}

#mySlider{
    width: 100%;
    ol{
        background: none;
    }
}

.home-article{
    .article-img-container{
        display: grid;
        align-items: center;
    }
    img{
        width: 100%;
    }

    a{
        margin: 0.5em 0;
    }
    .page-link{
        width: 200px;
        i{
            display: inline-block;
        }
        @media screen and (max-width: 769px){
            width: 100%;
            margin: 1em 0;
        }
    }
}

.last_columns{
    
    .title-sec{
        display: inline-block;
    }
    .column{
        display: grid;
        margin-bottom: 1em;
        grid-template: repeat(3, max-content) 47px/ 1fr;

        img{
            grid-row: 1 / 2;
            @media screen and (min-width: 769px){
                height: 294px;
            }
        }

        h1{
            grid-row: 2 / 3;
        }

        p{
            grid-row: 3 / 4;
        }

        a{
            grid-row: 4 / 5;
            margin: 0 auto;
            height: max-content;
            @media screen and (max-width: 769px){
                width: 100%;
            }
        }
    }


}

.myForm, .myList {   
    background: -moz-linear-gradient(to left, #1b252f, #293a4a) !important;
    margin-top: 2em;
    padding: 2em 2em;
    border-radius: 25px 0px 25px 25px;
    box-shadow: 5px 5px 7px  black;
    transition: 0.2s;      
}

.myList:hover, .myForm:hover{
    box-shadow: 8px 10px 10px  black;
    transform: scale(1.005);
}

.myForm{
    form{
        background: none;
        div, label {
        background: none;
        color: white;
        }
    }
}

.myList{
    ul, li, span, i{
        background: none;
        color: white;
        border-color: white;
    }
}